.project-header {
    padding: 109px 100px 50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-sizing: border-box;
    gap: 50px;
}

.tags {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    min-width: 350px;
}

.tags li:not(:first-child):before {
    content: '\00B7';
    padding: 0 5px;
}

.project-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.project-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    max-width: 400px;
}

.header-image-container {
    flex-grow: 1;
    max-width: 600px;
}

.header-image-container img {
    width: 100%
}

@media (max-width: 950px) {
    .tags {
        flex-direction: column;
        min-width: unset;
    }

    .tags li:not(:first-child):before {
        content: none;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .project-header {
        flex-direction: column;
    }

    .tags {
        flex-direction: row;
    }

    .tags li:not(:first-child):before {
        content: '\00B7';
        padding: 0 5px;
    }
}

@media (max-width: 600px) {
    .project-header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .tags {
        flex-direction: column;
    }

    .tags li:not(:first-child):before {
        content: none;
        padding: 0;
    }
}