@import "../../global.scss";

$section-gap: 200px;

.home-page {
  padding: 0 $page-padding;

  &-header {
    padding-top: calc(100px + $navbar-height);
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    box-sizing: border-box;

    &-content {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 30px;
      width: fit-content;

      .home-page-icon-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        filter: #{"invert()"};

        .home-page-icon-container {
          display: block;
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.9);
          user-select: none;
          transition: background-color 0.25s ease;

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 85%;
            transition: filter 0.25s ease;
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.9);

            img {
              filter: #{"invert()"};
            }
          }
        }
      }

      .home-page-title {
        font-size: 9em;
        font-weight: 400;
        color: rgb(65, 58, 65);
        margin: 0;

        &-effect {
          margin-top: 20px;
          width: 10rem;
          height: 10rem;
          background-color: white;
        }

        &-face {
          justify-content: flex-start;
        }

        &-face-front {
          animation: rotate-front 12s infinite;
          animation-delay: 2s;
        }

        &-face-bottom {
          color: $primary-500;
          animation: rotate-bottom 12s infinite;
          animation-delay: 2s;
        }
      }
    }

    &-bottom {
      margin-bottom: 100px;
      margin-top: 12vh;
      display: flex;
      align-items: flex-end;

      > * {
        flex: 1;
      }

      .home-page-contact-button {
        margin-bottom: 30px;
        background-color: rgb(240, 240, 240);
        border-radius: 7px;
        height: 40px;
        width: fit-content;
        padding: 8px 15px 8px 10px;
        box-sizing: border-box;
        display: flex;
        gap: 10px;
        align-items: center;
        user-select: none;

        &-decorator {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: rgb(16, 195, 0);
        }
      }
    }

    .home-page-bio-container {
      justify-self: end;

      > p {
        margin: 0;
        max-width: 32rem;
        font-size: 1.2em;
      }
    }
  }

  &-projects {
    margin-top: $section-gap;
  }

  &-bottom {
    margin-top: $section-gap;
    margin-bottom: $section-gap;
    &-text {
      font-size: 2.4em;
      font-weight: 400;
      text-align: center;
    }
  }
}

@keyframes rotate-front {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  4% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  50% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  54% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}

@keyframes rotate-bottom {
  0% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(-90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  4% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  50% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  54% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(-90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  100% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(-90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
