.arrow-bullet {
    display: flex;
    gap: 12px;
}

.arrow-bullet .arrow-container img {
    width: 55px;
}

.arrow-bullet .arrow-bullet-title {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 0.9em;
    font-weight: 400;
    color: var(--text-color-alt);
}