.captioned-icon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 200px;
    color: var(--highlight-color-bright);
    font-weight: 700;
    text-align: center;
}

.captioned-icon-text {
    text-align: inherit;
    font-size: 0.9em;
}