.flex-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}

.flex-list.equal-width li {
    flex: 1;
}

.flex-list.max-per-row-2 {
    flex-wrap: wrap;
}

.flex-list.max-per-row-2 li {
    width: 45%;
}

@media (max-width: 900px) {
    .centered-small {
        justify-content: center;
        align-items: start;
    }
}

@media (max-width: 600px) {
    .flex-list {
        flex-direction: column;
    }

    .centered-small {
        align-items: center;
    }
}