.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 159px;
    user-select: none;
    padding: 80px 30px 15px;
    box-sizing: border-box;
}

.footer .menu {
    display: flex;
}

.footer .menu li a {
    display: block;
    padding: 20px;
}

.footer .link-section img {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .footer .name-tag {
        display: none;
    }
}

@media (max-width: 400px) {

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer .menu li a:first-child {
        padding-left: 0;
    }
}