@import "./colors.scss";

$page-padding: 100px;

$navbar-height: 100px;

.grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2%;

  > * {
    width: 32%;
  }
}

.title {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: $primary-300;
    border-radius: 50%;
  }
}

.cube-effect {
  background-color: transparent;
  perspective: 2000px;

  &-face {
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.5s ease;
  }

  &-front {
    box-sizing: border-box;
    transform-origin: 50% 100%;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &-bottom {
    box-sizing: border-box;
    transform-origin: 50% 0;
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(-90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &-hover:hover &-front {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(90deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  &-hover:hover &-bottom {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
