@import "./colors.scss";

$page-padding: 100px;

$navbar-height: 100px;

.grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2%;

  > * {
    width: 32%;
  }
}

.title {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: $primary-300;
    border-radius: 50%;
  }
}
