.hobbies-page {
    padding: 0 20px 159px;
}

.hobbies-page * {
    text-align: left;
    font-weight: 400;
}

.hobbies-header {
    padding-top: 59px;
    position: relative;
    height: 100vh;
}

.hobbies-header-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hobbies-intro-text {
    text-align: center;
}

.first-hobbies-section {
    margin: 0;
}