.image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    column-gap: 2%;
    row-gap: 3vh;
}

.image-grid .image-container {
    height: 30vh;
    width: 23%;
    position: relative;
}

.image-grid .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-grid .image-container img:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .image-grid .image-container {
        width: 48%;
    }

    .image-grid {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .image-grid .image-container {
        width: 100%;
    }
}