:root {
    --background-color: #101614;
    --highlight-color: unset;
    --highlight-color-bright: unset;
    --text-color: unset;
    --text-color-alt: unset;
    --banner-color: unset;
    --border-color: unset;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #101614;
    color: white;
    overscroll-behavior: none;
}

* {
    text-align: start;
    font-family: 'Inter', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}
