.ReactModal__Content {
    display: flex !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 15px !important;
    border-radius: 10px !important;
    outline: none !important;
    overflow: auto !important;
    border: none !important;
    background-color: rgb(150, 150, 150) !important;
    box-sizing: border-box !important;
}