.table-of-contents > li:not(:first-child) {
    margin-top: 20px;
}

.content-link {
    display: block;
    padding: 10px 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--banner-color), transparent);
}

.content-link:hover {
    cursor: pointer;
}