.title-banner-pre-title {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 30px;
}

.title-banner-title {
    font-size: 1.6em;
    max-width: 710px;
    margin: auto;
    text-align: center;
    font-weight: 500;
}