.titled-section {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.titled-section.vertical {
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.titled-section-title {
    font-weight: 400;
    font-size: 1em;
}

.unformatted-title {
    width: 220px;
    margin: 0 10px 0 0;
}

.formatted-title {
    color: var(--text-color-alt);
    font-style: italic;
    width: 100px;
    margin: 0 130px 0 0;
}

.formatted-title:before {
    content: '';
    display: block;
    width: 40px;
    padding-top: 8px;
    border-top: 2px solid var(--highlight-color-bright);
}

.titled-section-content {
    flex: 1;
}

.titled-section-content .text-content {
    margin: 0;
}

.titled-section-content .titled-section-content-part {
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .titled-section {
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    .titled-section-title {
        max-width: unset;
        margin: unset;
    }

    .titled-section-content {
        width: 100%;
    }
}
